---

---

<header class="site-header">
  <div class="menu">☰</div>
  <div class="logo">A GOOD CASE</div>
  <div class="icons">
    <span>👤</span>
    <span>⌕</span>
    <span>👜</span>
  </div>
</header>