---
import "../styles/global.css";
import Header from "./components/Header.astro";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Good Case</title>
  </head>

  <body>
    <Header />

    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>OVERSKUDS ØL<br />UDEN KOMPROMIS</h1>
          <a href="/products" class="btn">Shop nu</a>
        </div>
      </section>
    </main>
  </body>
</html>