---
---
<section class="newsletter-section">
    <div class="newsletter-section__inner">

      <div class="newsletter-section__images">
        <img 
          src="/Nyhednabo.png" 
          alt="Nabo illustration"
          class="newsletter-section__illustration"
        />
      </div>

      <div class="newsletter-section__content">
        <h3>Få fat i de gode øl... før din nabo opdager dem</h3>
        <p>Tilmeld dig vores nyhedsbrev</p>

        <form class="newsletter-form">
          <input type="email" placeholder="e-mail" />
          <button type="submit">TILMELD DIG HER</button>
        </form>

        <span class="newsletter-section__note">
          "God øl er ikke en nabokrig værd – tip din nabo"
        </span>
      </div>

    </div>
  </section>